
.box{
    position: relative;
    
    width: 300px;
    height: 300px;
    padding: 100px 150px 150px 150px;
    margin: 100px 450px ;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 2px rgb(255, 255, 255);
    
}
.label{
    color: white;
    font-weight: bold;
     font-family: "Oswald";
     font-size: large;
    
}
.fields{
    font-family: Helvetica, sans-serif;
    border: solid blue;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}
.submit{
    background-color: rgb(117, 255, 79);
    font-weight: bold;
    /* margin-left: 120px; */
    margin: 5px 120px ;
    padding: 6px,20px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.forgot{
    background-color: rgb(117, 255, 79);
    height: 30px;
    margin-top: 3px;
    margin-left: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 3px;
}
body{
    background-color:black ;
    /* background-image:url("./35055146_8275340.jpg"); */
}
.p{
    color: whitesmoke;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}
.fields{
    font-size: medium;
    font-weight: bold;
}
.box-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;                 /* video stays behind content */
}
.register{
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 10px;
    color: black;
    text-decoration: solid;
}
.signup{
    background-color: blueviolet;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
form{
    display: inline-block;
   
}