.box{
    height: 800px;
    width: 700px;
    border: solid;
    margin: 100px 400px;
    background-color: blueviolet;
    border-radius: 20px;
    box-shadow:7px 7px 15px rgba(255, 255, 255, 0.5);
}
.heading{
    margin-top: 30px;
    margin-left: 120px;
    font-size: 40px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
}
.labels{
    /* margin-left: 250px;
    margin-right: 10px; */
    padding: 0px 0px;
    display: block;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.fields{
   height: 40px;
   font-size: 20px;
   width: 350px;
   margin-top: 5px;
   margin-left: 170px;
   margin-bottom: 5px;
   border-radius: 8px;
   border: none;
}
.submit{
    margin-left: 300px;
    margin-top: 40px;
    height: 40px;
    width: 90px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.fields::placeholder {
  text-align: center; 
}